#filtros{
    font-size: 9pt;
    max-width: 1000px;
    margin:0 auto;
}
#listado{
    font-size: 10pt;
    margin-top: 30px;
}
.contenedor{
    margin: 0 auto;
    max-width: 1500px;
    padding-top: 30px;
}
body{
    margin: 0 auto;

}